[2017-05-09 10:49] VictorLamoine opened #2 "Continous integration"
First method: build a docker image

Second method; use a built VTK binary

Take a look [here](https://github.com/InstitutMaupertuis/advanced_industrial_ci/
) at how to build your custom VTK version to be able to use VTK 7.1.0 in a CI environment.

I'm currently hosting VTK 7.1.0 binaries [here](http://victorlamoine.hopto.org/travis_ci/) (feel free to test with them!) but it won't last long since i

[2017-05-09 10:51] gavanderhoorn commented on #2
I have a feeling @AustinDeric might be on this / able to help. ros-industrial-consortium/A5#1.

[2017-05-09 10:52] VictorLamoine commented on #2
Yup I commented his pull request!

[2017-05-09 12:50] AustinDeric commented on #2
This is great thank you!

All i did was build VTK 7.1 and PCL 1.8 manually in a docker image.  The problem is that its ~14 Gb in size and i am not sure why.  I never keep any of the data in the docker image.  Maybe VTK and PCL are that large but i find that hard to believe.  the rosindustrial/core image is about 2.5 Gb large.

I am about to start pushing the Dockerfiles to https://github.com/ros-i

[2017-05-09 13:01] gavanderhoorn commented on #2
@AustinDeric wrote:

I have some ideas, but without your `Dockerfile` it'd just be guesses.

[2017-05-09 13:03] gavanderhoorn commented on #2
Btw: I have Xenial debs for PCL 1.8 which are basically backports of the official Yakkety packages. They seem to work fine for me.

[2017-05-09 15:12] VictorLamoine commented on #2
@AustinDeric did you build in [MinSizeRel](https://cmake.org/cmake/help/v3.0/variable/CMAKE_BUILD_TYPE.html) mode with CMake? This ensures smaller (smallest?) binaries.
Also you can remove the sources after make install to spare some space (this is of course, less handy if you have to compile again)

On my machine:
- VTK 7.1.0 in Release mode weighs 423 Mb
- PCL 1.8.0 in Release mode weighs 454 Mb

[2017-05-09 16:22] gavanderhoorn commented on #2
If anyone's interested: [xenial/pcl-1.8 debs](https://surfdrive.surf.nl/files/index.php/s/59c6msd9S52EhiK). IIRC these were compiled against the default VTK version for Xenial, so probably not 7.1.something.

[2017-05-10 13:13] AustinDeric commented on #2
Thank you for the help Gijs and Victor!

I got the [noether image](https://hub.docker.com/r/rosindustrial/noether/) image down to 4.15 Gb.  The VTK and PCL layer is 2.02 Gb.  [I used Gigj's cleanup code](https://github.com/ros-industrial/docker/pull/2/commits/977ed1ab58a282c7227eecaaa0552cd2fa8f8db9#diff-6df3936049c1c42e250e340492f8d893R11) for all the docker layers and Victor's MinSizeRel suggest

[2017-05-10 14:28] AustinDeric opened #3 "Make noether tests travis compliant"
The issue with the tests is that they don't have pass/fail criteria.  The tests  opens a window to the user for inspection and then the user closes the window.

Any fix should remove the following line in .travis.yml:
`    - NOT_TEST_BUILD=true`

[2017-05-10 19:47] AustinDeric opened #4 "Add install space rules to CMakeLists.txt"
Currently, there are no install space rules in the CMakeLists.txt which produces the following errors:
https://travis-ci.org/AustinDeric/A5/jobs/230867247#L420

Any fix should also remove the following line from .travis.yml:
`- BEFORE_SCRIPT='catkin config -w $CATKIN_WORKSPACE --no-install'`

[2017-05-13 10:55] #2 closed

[2017-05-18 18:29] AustinDeric opened #6 "https://github.com/ros-industrial/noether#build"
Currently Build section is "tbd"

https://github.com/ros-industrial/noether#build

[2018-02-16 09:52] gavanderhoorn opened #8 "Install instructions incomplete - VTK is now at v9.0"
The [current readme](https://github.com/ros-industrial/noether/blob/917680335f68568897f3e48d21facfa99915a4fe/README.md) does state the dependency on `V7.1`, but the instructions don't instruct users to checkout a `7.x` branch of the repository.

VTK `master` branch seems to build a `9.x` version of VTK which then doesn't work with the further instructions in the readme to `open CMakeLists.txt chan

[2018-04-23 20:16] #6 closed

[2018-09-04 16:04] ipa-hsd opened #10 "node crashes for certain mesh"
I have tried to use this plugin with [godel](https://github.com/ros-industrial-consortium/godel) with success for "regular-shaped" surfaces (in this case a hemisphere).

<img src="https://user-images.githubusercontent.com/31062848/45041360-67d68700-b068-11e8-9e63-6584d4d0d6b3.png" width="400">

I tried it with an [arbitrary surface](https://ufile.io/jwy2q)  with varying results:

<img src="https:/

[2018-09-04 16:06] gavanderhoorn commented on #10
I would suggest to first compile all relevant libraries in debug mode. The backtrace is not very informative like this.

[2018-11-16 14:45] mpowelson opened #11 "Include guard in vtk_viewer/vtk_utls.h overlaps with PCL::vtk_utils"
Both PCL and Noether have a vtk_utils, but it seems quite likely that a person would want to include both.

[PCL vtk_utils ](https://github.com/PointCloudLibrary/pcl/blob/master/surface/include/pcl/surface/vtk_smoothing/vtk_utils.h#L39)

[Noether vtk_utils](https://github.com/ros-industrial/noether/blob/master/vtk_viewer/include/vtk_viewer/vtk_utils.h#L8)

[2018-11-29 15:45] #11 closed

[2018-12-04 20:24] mpowelson opened #14 "Update Maintainer and License information"
The license I'm told should actually be Apache 2.0. I suppose @jrgnicho , you are the de facto maintainer now?

[2019-01-15 19:08] jrgnicho commented on #14
Other repos under the ros-industrial organization are using BSD as well.  I'm not sure on this one but I think BSD is the more flexible one.

[2019-01-15 19:12] jrgnicho commented on #8
The README instructions now provide more specific detail about the versions of VTK and PCK that need to be built from source

[2019-01-15 19:17] jrgnicho opened #19 "Purpose of the noether package"
This noether package has code, nodes and launch files.  This is somewhat unusual as most other ros libraries ([see industrial_core for instance](https://github.com/ros-industrial/industrial_core/tree/kinetic-devel/industrial_core)) only keep the  package named the same as the repo in the form of a metapackage.  Perhaps we should rename this package to `noether_ros` and create a `noether` package t

[2019-01-15 20:17] gavanderhoorn commented on #14
IANAL, but both BSD and Apache 2 are pretty similar in terms of 'flexibility' iiuc.

The difference is that Apache 2 has a patent clause, which offers better protection.

For generic ROS-Industrial packages, Apache 2 is recommended.

[2019-01-15 22:11] jrgnicho commented on #14
@gavanderhoorn thanks for clarifying that.  @mpowelson we probably want to use Apache2 then.

[2019-01-16 09:19] ipa-hsd commented on #10
Thanks @jrgnicho! I will try it out one of these days and get back.

[2019-01-16 16:11] jrgnicho opened #20 "Update the ci docker image"
The CI currently fails due to a dependency on [pcl_conversions](https://travis-ci.org/ros-industrial/noether/jobs/470109028).  The PR #16 introduced changes that removed the ros pcl_conversions dependency as keeping it there would cause runtime errors.  I can build the latest code in a machine with ROS kinetic, PCL 1.8 and VTK 7.1. This suggest to me that the build error is due to the current conf

[2019-01-17 14:41] mpowelson opened #21 "Importing PLY vs STL gives different segmentation results"
There is some difference in the segmentation results when importing the same mesh from a ply vs stl. When importing a ply, we use pcl:io to a PolygonMesh then convert to VTK. When using stl we just import using VTK. Generally speaking it looks like ones converted from PolygonMesh are more "smooth" and thus get segmented into fewer pieces.

This issue also arises when using the action interface as

[2019-01-21 21:58] mpowelson opened #24 "Noether Segmentation needs a Travis Compliant Unit Test"
This is a sub-issue of #3. Hopefully I will address this either this week or next week.

[2019-02-15 15:21] ipa-hsd commented on #10
I created a dockerfile:

[code]
And ran the docker image:

[code]
I get the following bt:
[code]
Now the error is in visualization, and no more in path planning.

P.S.: Is this new version compatible with [godel_noether](https://github.com/Jmeyer1292/godel_noether), since the executables have changed in this repo.

[2019-02-15 15:54] ipa-hsd commented on #20
If you have not built the docker image already, I have done it so https://github.com/ros-industrial/noether/issues/10#issuecomment-464087967. Should I upload the docker image?

[2019-02-15 17:29] jrgnicho commented on #20
We found out that our build configuration was the root cause of the problem.  This problem was fixed in #25; thanks for tracking this issue however.

[2019-02-15 17:29] #20 closed

[2019-02-15 17:30] #8 closed

[2019-02-15 17:32] jrgnicho commented on #21
The difference may be in how the normals are generated for each file type.

[2019-02-20 15:53] ipa-hsd commented on #10
I tried it with godel, and this is the error I receive (even though there is no crash anymore):

[code]
Are there any parameters to be set to cover the entire surface? Or I need to choose a simpler object?
Below is how the visualization of the path:

![noether_2](https://user-images.githubusercontent.com/31062848/53104496-c23ca480-352f-11e9-9b40-662620c6047a.png)

[2019-03-21 15:12] mpowelson commented on #24
This was fixed in #22  and #29

[2019-03-21 15:12] #24 closed

[2019-03-21 15:14] mpowelson opened #33 "Potential Divide by 0 in raster_tool_path_planner.cpp"
See comments on #31

[2019-03-21 15:16] mpowelson opened #34 "Rasters do not extend all the way across the mesh when rotating them"
See comment and images on #31 . Here's a preview.

![45 degree raster](https://user-images.githubusercontent.com/12128406/54762518-48e1b180-4bc2-11e9-8f60-177bd734a716.png)

[2019-03-25 21:31] jclaros92 opened #35 "Error installing VTK-7.1"
I am trying to use the noether library in a ROS project and my build keeps failing due to the VTK library. My workspace is currently using melodic libraries. My machine currently has VTK6.3 but the library is requesting VTK7.1. I tried installing VTK7.1 from source and fixed one error but now I have another error. The error stated that it could not find the following files,

/usr/bin/ld: cannot fi

[2019-03-26 14:38] jrgnicho commented on #35
Installing directly in the system directories isn't good practice in general.  I'd advice reverting your install if possible and following the instructions in the noether README

[2019-03-27 15:29] #35 closed

[2019-03-27 15:33] jclaros92 opened #36 "Error: accumulate is not a member of 'std'"
I followed the readme and installed the VTK and PCL libraries but now this error about 'accumulate' not being apart of 'std' is occurring. It seems like an include may be missing in one of the PCL files or something was installed improperly.

[code]

Any ideas on how to fix this error?

[2019-03-29 15:56] jrgnicho commented on #36
Are you building this in kinetic?

[2019-04-10 12:58] jclaros92 commented on #36
No, my current build is in melodic. Is this not ready for melodic?

[2019-04-10 13:29] gavanderhoorn commented on #36
@jrgnicho: `std::accumulate(..)` is defined in the `numeric` header. Is that included?

[2019-04-10 15:08] jrgnicho commented on #36
@jclaros92  We have been using this branch in ros-kinetic Ubuntu 16.04.
@gavanderhoorn it is possible that the __numeric__ header isn't included and in melodic it isn't being added indirectly by another header file.

[2019-04-17 19:09] jclaros92 commented on #36
@jrgnicho @gavanderhoorn Any updates on this error? Still unable to build this library.

[2019-04-17 19:29] gavanderhoorn commented on #36
well, have you tried adding the `numeric` header include?

[2019-04-17 23:59] Levi-Armstrong commented on #36
I am using melodic and you do need to add the include <numeric> as @gavanderhoorn stated to file using std::accumulate.

[2019-04-18 06:37] gavanderhoorn commented on #36
See #38.

[2019-04-18 16:50] jclaros92 commented on #36
I appreciate everyone's support. I'm new to working with packages in this environment so this simple error had me stumped. Thanks again.

[2019-04-19 18:39] jrgnicho commented on #36
#38 has been merged.  It should build in melodic now

[2019-04-23 15:42] jclaros92 opened #39 "Error running surf_raster_planner_application.launch"
I'm trying to run the **surf_raster_planner_application.launch** file and the node keeps crashing without any feedback. I added some print outs in the **surface_raster_planner_application.cpp** and noticed it keeps crashing at these lines:
`  tool_path_planner::ProcessTool tool = loadTool(pnh);
  tool_path_planner::RasterToolPathPlanner planner;
  planner.enableConsoleDebug(console_debug_on);`
I'm

[2019-04-23 18:13] jclaros92 commented on #39
I also tried running the **mesh_segmenter_node.launch** file and received the error shown below. It seems that its pulling from the wrong version of VTK even though I installed the 7.1 version. I must be missing something in one of my CMakeLists.txt.

/home/ros3/sample_data/sphere.stl
ERROR: In /build/vtk6-VHOYAG/vtk6-6.3.0+dfsg1/IO/Geometry/vtkSTLReader.cxx, line 97
vtkSTLReader (0x55b567790840):

[2019-04-23 22:34] jrgnicho commented on #39
What's the default version of PCL that's installed in your system?

[2019-04-24 13:13] jclaros92 commented on #39
PCL 1.8. I followed the Readme and installed VTK 7.1 and PCL 1.8. It seems as the VTK library installed all the *.so files in /usr/local/lib/ and the noether package is looking for them in /usr/lib/x86_64-linux-gnu/.

[2019-04-24 16:25] jrgnicho commented on #39
During the PCL library installation did you follow the:

Step?

Also, clean your catkin workspace `catkin clean -y` if you haven't done so

[2019-04-24 16:57] jclaros92 commented on #39
I double checked and I did add the "VTK 7.1 REQUIRED" line. I have tried cleaning and that has not fixed my issue.

[2019-05-15 14:54] jrgnicho commented on #39
All I can suggest is to  check your PATH env variable, it may be introducing paths to alternate versions of the VTK libray

[2019-05-15 14:55] #36 closed

[2019-06-10 13:43] ben-greenberg opened #43 "Build pcl_conversions from source within package"
Without a local copy of this package, it uses an older version of pcl_conversions which links to vtk6. Pulling pcl_conversions down in the same boat as vtk_viewer seemed to fix the problem.

[2019-07-02 09:39] ipa-hsd opened #44 "License is `Proprietary`"
While working on https://github.com/ros-industrial/ros_industrial_issues/issues/57, realized that all the packages in this repo have `Proprietary` license.

[2019-07-02 15:29] mpowelson commented on #33
@drchrislewis After taking a look at this, I don't think this is actually an issue. There would only be a divide by 0 if one of the two largest axis of the OBB were length 0. That *should* only happen if the mesh is a line or a point. As far as I can tell, that particular piece of code should be fine with one of the dimensions = 0.

If you want, I can add an assert below each m making sure that th

[2019-07-02 15:35] mpowelson commented on #44
This has been on our radar for a while. The intention was that these should be Apache 2.0. As a Southwest Research employee, I just received the ok to modify the license notices. I'll submit the PR shortly.

@Levi-Armstrong @drchrislewis @robinsonmm

[2019-07-02 15:50] robinsonmm commented on #44
+1

On Tue, Jul 2, 2019, 10:35 AM Matthew Powelson <notifications@github.com>
wrote:

[2019-07-02 21:36] mpowelson opened #47 "Tool Path Planner unit tests sometimes don't pass"
It appears that sometimes process.computePaths() does not return any paths. This varies from run to run. This obviously causes multiple tests to fail.

[2019-07-02 22:05] mpowelson commented on #34
It looks like we need to modify the offset line creation here. Perhaps make them extend sqrt(2)*principal_axis_length https://github.com/ros-industrial/noether/blob/3d84fac8e08f67620adbfaf958ed3c310a2f9818/tool_path_planner/src/raster_tool_path_planner.cpp#L1441

[2019-08-02 13:43] gavanderhoorn commented on #44
Fixed in #45.

[2019-08-02 13:43] #44 closed

[2019-08-13 04:42] Levi-Armstrong opened #52 "Why is VKT 7.1 required?"
I noticed that on melodic it comes with PCL 1.8.1 and VTK 6.3 and curious why version 7.1 is required.

[2019-10-28 19:00] DavidMerzJr commented on #52
libvtk7-dev is also available on Ubuntu 18.04/ROS Melodic, which supplies VTK 7.1.  Does this work for building earlier commits (e.g. commit a82ed0a7b96d5ac688462069759058144b1c895e)?

However, now the requirements have been changed to use PCL 1.9.1 and VTK 8.2.  I understand that PCL 1.9.1 is required for NURBS fitting.  Do we really need VTK 8.2, or could we go back to VTK 7.1?  It seems that st

[2019-10-29 20:49] jrgnicho commented on #52
@Levi-Armstrong I don't recall what specific feature of VTK 7.1 was required but whatever that feature was it wasn't available on previous versions
@DavidMerzJr  VTK 8.2 gets rid of deprecated warnings that get printed during segmentation, other than that it is not required.  We could make the compiled debians for PCL and VTK available in order to facilitate installation.  It's just a matter of fi

[2019-12-02 21:16] #52 closed

[2019-12-02 21:19] Levi-Armstrong opened #71 "Propose adding Clang-Tidy"
@jrgnicho Below is a macro used for adding clang-tidy to a target if interested in adding it to noether. It may need to be modified because it run only if ENABLE_CLANG_TIDY OR ENABLE_TESTS variable is set to on which are tesseract variables.

[code]

[2020-01-02 12:43] gavanderhoorn opened #83 "Feasibility of packaging noether (all of it) in a Docker image"
The set of Docker images hosted at `ros-industrial/docker` includes one for Noether.

It currently doesn't really build and uses some forks that are no longer maintained or exist.

Seeing as Noether appears to depend on specific versions of VTK and PCL that may not be very easily distributed on different OS, packaging everything up in a Docker image seems like a good way to facilitate using Noethe

[2020-01-07 11:49] gavanderhoorn commented on #83
Ping?

[2020-01-10 08:49] gavanderhoorn commented on #83
Took a look at the [existing Docker image](https://hub.docker.com/r/rosindustrial/noether), which was last built 3 months ago (@Levi-Armstrong ?).

This appears to build a version of PCL (AustinDeric/pcl@b4c86522d3f8f5b02078b796c4e3b5f7e46b98c0) which is currently around 1860 commits behind PCL master.

It also tracks VTK's default branch, which is a moving target.

In the interest of reproducable

[2020-01-10 15:38] jrgnicho commented on #83
@gavanderhoorn
The latest  docker container should be using pcl 1.9.1 and VTK 8.2.  If I recall correctly, they were built from static versions (no git tracking) and installed in the usr/loca/ directory so each new build uses the same versions of pcl and vtk.  The increase in memory footprint is probably due to the build artifacts and binaries that resulted from building and installing those libra

[2020-01-10 15:49] gavanderhoorn commented on #83
So, which specific `Dockerfile` is used for the image that you are referring to? Is it one of [these](https://hub.docker.com/r/rosindustrial/noether/tags)?

The one in `ros-industrial/docker` does not use PCL 1.9, I'm pretty sure of that.

[2020-01-10 15:58] jrgnicho commented on #83
It's using the kinetic one, I'm not really sure why the other one "latest" shows that it was last updated 3 months ago

[2020-01-10 16:04] gavanderhoorn commented on #83
Did you build the image manually, on your own PC? Or did you use a `Dockerfile`?

`rosindustrial/noether:kinetic` appears to have gained ~2GB approx 2 months ago in a `/bin/bash` session.

[2020-01-10 16:23] jrgnicho commented on #83
The first, manually in my own PC

[2020-01-10 16:25] gavanderhoorn commented on #83
Ah, ok. That would explain the confusion.

It would probably be good to have a proper `Dockerfile` for Noether, as it would help with local rebuilds.

[2020-01-10 16:28] jrgnicho commented on #83
I'm ok with that, where would that be hosted and can it just be created from the image?

[2020-01-10 19:49] gavanderhoorn commented on #83
Technically: yes. But only if a `Dockerfile` was used to create it. Seeing as you updated the latest version manually, the last layer only contains `/bin/bash` as command, not the actual commands you ran.

I'll take a look at writing a proper `Dockerfile`.

[2020-01-13 19:39] jrgnicho opened #84 "Revert Introduction of dead code in PR 81"
#81 attempted to address a segfault in the _applyEqualDistance_ function however rather than fixing the bug, a whole new function with the same name was created while the original one was renamed to _applyEqualDistance_original_ and kept around even though it's not being referenced anywhere else in the code.  Unless the new function can guarantee the right output (equally distanced points that lie

[2020-01-30 17:48] Levi-Armstrong opened #86 "Missing rosinstall file. (Mitigate linking against multiple versions of PCL and VTK)"
Because noether depends on a custom version of pcl and vtk it is critical to also build any dependencies that also depend on pcl like pcl_conversion. If these dependencies are not built using the same version, then when it links noether libraries it will link against multiple version of vtk and pcl.
This will help mitigate this issue if it had a rosinstall that included these dependencies from sou

[2020-01-30 18:42] Levi-Armstrong commented on #86
#43

[2020-02-28 21:29] mpowelson opened #87 "surface_raster_planner_server segfaults if config is empty"
If that is the case the default is supposed to get used, but we are using the wrong one. We need to take tpp_configss outside the mutex and replace [this](https://github.com/ros-industrial/noether/blob/3765895f451cbff8eefb5ec1e5a2387042ab65a4/noether/src/surface_raster_planner_server.cpp#L98) line.
[code]
with
[code]

[2020-03-23 21:18] emielke12 opened #88 "Surface Raster Planner Demo fails"
I am attempting to run the surface raster planner demo and am meeting a seg fault upon running, with no other apparent information. See below:

[code]

Wondering if this is common, or what might have gone wrong. I followed the installation guide for VTK and PCL on the readme. Any help would be appreciated!

[2020-06-05 08:38] dave992 commented on #83
To run noether I was looking to run it from a Docker image as well due to the library requirements and Ubuntu version. I tried using the [Docker Hub Noether Image](https://hub.docker.com/r/rosindustrial/noether), but the most recent versions are not working, as they miss the PCL library.

In my search, on why the image is not working I came across this issue. My colleague @IKapitaniuk altered the

[2020-06-05 08:58] gavanderhoorn commented on #83
The `Dockerfile` not working right now is a known issue and I believe @jrgnicho ran into this with @Levi-Armstrong in some other project as well.

I seem to remember @Levi-Armstrong also has a PPA which has `.deb`s available for the required versions of PCL and VTK: [~ros-industrial/+archive/ubuntu/ppa](https://launchpad.net/~ros-industrial/+archive/ubuntu/ppa).

[2020-06-05 13:13] Levi-Armstrong commented on #83
Yea, I am still working on PCL, but the vtk one is good.

[2020-06-05 14:45] dave992 commented on #83
Thanks, that is good to know.

Awesome, I will use the VTK `.deb` then. I do also see a PCL `.deb` on the PPA, you do not recommend to use that one then?

[2020-06-05 21:12] Levi-Armstrong commented on #83
The PCL is not ready. There is an issue with how it installs.

[2020-06-06 15:12] dave992 commented on #88
I run into the same issue on Ubuntu 18.04, with ROS Melodic. Inspecting the backtrace it seems that it is caused by linking against the wrong VTK version. The full backtrace:
[code]
What I do find interesting is that it seems to hop through the different version of the library:
`6.3 > 7.1 > 6.3`

I double-checked the `CMakeLists.txt` file for requiring the correct version and went through the buil

[2020-06-06 15:16] gavanderhoorn commented on #88
A probable cause is that `6.3` is a dependency *of a dependency* which is linked to the binary which fails.

So something like this:

[code]

[2020-06-06 15:38] dave992 commented on #88
Wouldn't that be visible in the backtrace? Passing through the backtrace (and the code itself) it seems to directly invoke the vtk function. I did come across #86 which mentions what you explain, but building `pcl_conversions` from source did not solve this either.

[2020-06-06 16:07] gavanderhoorn commented on #88
No.

The callchain isn't necessarily reflected 1-to-1 in the linking order of libraries.

[2020-07-06 20:37] mpowelson commented on #86
I believe this was addressed in #91

[2020-07-06 21:01] mpowelson commented on #71
More broadly, revamp the cmake to use https://github.com/ros-industrial/cmake_common_scripts

[2020-07-06 21:02] mpowelson commented on #14
I believe license was fixed during wrid19. This year maybe we can finally knock out maintainer info.

[2020-07-06 21:30] mpowelson commented on #87
This should be beginner friendly.

[2020-07-06 21:34] mpowelson commented on #14
@jrgnicho Are you the maintainer of this repo?

[2020-07-07 15:12] mpowelson commented on #14
@jrgnicho I'm going to assume yes. I am also going to use your gmail devel account. That is what you used on noether_filtering

[2020-07-07 16:05] mpowelson commented on #71
I'm starting on this, but I'd say it is unlikely that I will get all of the packages done.

[2020-07-07 19:39] mpowelson commented on #14
Addressed in #92

[2020-07-07 19:39] #14 closed

[2020-07-10 14:43] nevermore0127 opened #94 "roslaunch noether_examples surf_raster_planner_demo.launch error"
The problem is as below ,when i run :roslaunch noether_examples surf_raster_planner_demo.launch

[code]

it seems some thing is wrong whit getConnectedIntersectionLine? what can i do for this ? thanks

[2020-07-11 06:45] #94 closed

[2020-07-16 11:13] IKapitaniuk opened #95 "Noether and CAD models"
I was testing the functionality of the Noether package, to be more precise, the raster tool path planner,  on the CAD generated meshes. It seems there are some implicit assumptions that prevent from using the meshes with the closed surfaces; at least, I haven't found that they are somehow mentioned.
For instance,  when I import an ordinary box mesh, the algorithms of getting the average norm is fa

[2020-07-16 12:58] gavanderhoorn commented on #95
@Levi-Armstrong @jrgnicho @marip8: we ran into these issues while trying to setup a cad -> noether -> tesseract/trajopt pipeline.

IIRC, you've done something similar, so running into these problems surprised us.

Are there any assumptions/conventions in Noether which we're not aware of/adhering to?

[2020-07-16 13:26] mpowelson commented on #95
In my experience we usually split up the mesh into surfaces prior to raster planning. This could be done using the mesh segmentation code in noether, PCL, or some other method. That said, I do know that @drchrislewis is working on a new raster method that works on closed surfaces, but I'm not sure if it is open source.

[2020-07-16 13:41] drchrislewis commented on #95
@gavanderhoorn I am working on an alternate method for raster generation. It will become open source. It is based on the heat method for computing distances over surfaces. I hope to be done soon. My best guess is two weeks, but other responsibilities may inhibit my progress. The distance computations are very reliable. However, converting lists of vertices within a constant distance from the start

[2020-07-16 15:11] gavanderhoorn commented on #95
Thanks @mpowelson and @drchrislewis.

From what you write it appears there is an (implicit?) assumption that meshes passed to Noether's planning pipeline are not closed, but actual surfaces.

In hind-sight, that would make sense (seeing as it's a library used mostly for planning raster paths across *surfaces*), but apparently we didn't take this into account.

@drchrislewis: the heat distribution

[2020-07-16 15:16] Levi-Armstrong commented on #95
The heat method @drchrislewis is describing the one I have been presenting on. Also there is a PR by @jrgnicho which adds a plan slicer which should work on closed surface but I do not know for sure.

[2020-07-16 15:50] drchrislewis commented on #95
@gavanderhoorn Yes, I'm sure Levi has mentioned the heat method. Noether has always had issues with closed surfaces. Segmentation takes a very long time, and is finicky. The heat method will have a very similar interface as Noether. It will either be another package in Noether or stand alone. It has much different dependencies. It uses suitesparse and lapack, but not vtk or pcl. Right now it is st

[2020-07-16 16:03] gavanderhoorn commented on #95
Stand-alone package + repository sounds fine to me. I was just curious as to what the plan was.

[2020-07-17 09:03] gavanderhoorn commented on #95
Talking to @IKapitaniuk it seems perhaps #21 also bit us.

[2020-07-26 20:08] madhan001 opened #96 "Generating path plans for specific areas on a mesh"
Is there a way to generate path plans for specific areas on a mesh instead of the entire mesh ?

[2020-07-28 17:40] IKapitaniuk opened #98 "CMake Error: find package "vtk_viewer""
After the last merge, aka "Update vtk_viewer CMake #93" the CMake error has appeared:
[code]

Frankly speaking, I have no idea how exactly catkin build works under the hood, but I found that the problem can be solved by adding the following lines into package.xml:
[code]
but I am not sure that this is a proper solution.

[2020-07-28 17:50] Levi-Armstrong commented on #98
That was the correct fix. Do you mind creating a PR?

[2020-07-28 17:56] IKapitaniuk commented on #98
Another problem, not really relevant to the one mentioned above but also regarding the CMake behavior, is that the very first build after the cleaning of the catkin environment crashes with the following error:
[code]
All the following executions of the "catkin build' are successful. It looks like some missing information is added after the very first build attempt.

[2020-07-28 17:58] Levi-Armstrong commented on #98
@mpowelson Does this look familiar?

[2020-07-28 17:59] IKapitaniuk commented on #98
Sure

I see that for quite a long time, but it annoys me only the very first time, that's why I didn't care too much.

[2020-07-28 18:05] mpowelson commented on #98
Not particularly. What version of cmake are you using? Are you on xenial/kinetic?

[2020-07-28 18:47] IKapitaniuk commented on #98
I use Docker for testing both kinetic and melodic. It happens on both platforms.
The base images are _ros:melodic-ros-base_ and _ros:melodic-ros-base_ the latest available.
The dedicated workspace for Noether. The dependency resolved automatically via wstool and rosdep install.
Deb packages vtk-7.1.1 and pcl-1.9.1 are made using the instructions in README.md and installed via dpkg -i <pkg>.deb
Tha

[2020-07-28 19:28] IKapitaniuk commented on #95
Ok, thanks. Looking forward to testing the new package.
In that case, the only issue is not very obvious crashing due-to the way of calculating of weighted average. I will rename the current issue accordingly.

Of course, nothing can help in the case of a perfectly symmetric object such as a box, a sphere, or a cylinder since normal vectors from either side will eliminate each other.
A bit more tr

[2020-07-29 13:07] Levi-Armstrong commented on #98
I would upgrade the package to leverage cmake_common_scripts and see if the issue goes away. You can use vtk_viewer as a guide.

[2020-07-30 11:35] dave992 commented on #98
I have the same issue (without using Docker) on Ubuntu 18.04/ROS Melodic where the build fails on the `noether_filtering` package the very first time building after cleaning the workspace.

To reproduce:
* Install PCL and VTK based on the instructions in the readme
* Install other dependencies using `rosdep` and `wstool`
* If workspace is not cleaned: `catkin clean -y`
* `catkin build`

Any subseq

[2020-07-30 11:53] gavanderhoorn commented on #98
@dave992: #97 doesn't fix this?

[2020-07-30 14:12] Levi-Armstrong commented on #98
Try commenting out the lines below in noether_filtering cmake file and see if the issue goes away on first build.

[code]

[2020-08-03 12:52] dave992 commented on #98
That indeed solves the error on the first build, I'll make a PR for this then.

[2020-08-03 14:33] Levi-Armstrong commented on #98
That is good news, but it will not be as simple to just remove it. This was added as a way to check if PCL was built with NURBS so an alternative method needs to setup. A quick fix would be to add a compiler flag ENABLE_NURBS which is defaulted to OFF since that is the default of PCL.

[code]

then switch NURBS_FOUND for ENABLE_NURBS everywhere in the cmake

[2020-08-07 15:06] Levi-Armstrong commented on #98
@IKapitaniuk  and @dave992 it turns out there is a bug in cmake which is fixed in noetic. If you pip install cmake this will get you the latest version. If that is not desirable you can pass the cmake compiler flag -DNURBS_FOUND=ON/OFF depending on if your version of PCL was built with NURBS.

[2020-08-10 12:08] dave992 commented on #98
As this issue indeed seems specific for 18.04/melodic, passing the -DNURBS_FOUND flag sounds like an acceptable solution to me. I'll use the cmake compiler flag for now then. Thanks for the assistance!

P.S. I don't know how many people using Noether are still on melodic, but do you want me to add this instruction to the readme?

[2020-08-14 09:32] dave992 opened #103 "Inconsistent generated toolpaths using surface_raster_planner_demo.launch"
Based on my understanding of Noether, it should generate a toolpath in a deterministic way. Therefore recalculating the toolpath should always return the same result.

When running the `surface_raster_planner_demo.launch` the results vary, here are some screenshots of what I mean:
| | |
|:-------------------------:|:-------------------------:|
|![Screenshot from 2020-08-13 15-31-35](https://user-i

[2020-08-14 14:14] gavanderhoorn commented on #103
@dave992: could you perhaps also specify what version of Noether you are seeing this with (ie: commit hash)?

[2020-08-14 15:19] dave992 commented on #103
Both PC's I encountered this issue on were using version 47d74720252bc724e540e9819be61bba2718758f.

[2020-08-25 19:17] gavanderhoorn commented on #103
@Levi-Armstrong: is this something you've ran into perhaps?

We're willing to debug this ourselves, just looking to avoid spending effort in case it's a known issue.

[2020-08-25 19:36] Levi-Armstrong commented on #103
@jrgnicho @DavidMerzJr @drchrislewis  you all probably have used it the most. Do you have any insights into what they are experiencing? My first thoughts are it should be, at least for the first raster, but then it does some offsetting to create equal surface distance lines which may not be deterministic.

[2020-08-25 19:41] gavanderhoorn commented on #103
We were also thinking it may be using some uninitialised memory somewhere. Especially the screenshot in the bottom-right made me suspicious.

[2020-08-25 19:52] mpowelson commented on #103
I remember thinking the same thing wrid19 when we had some unit tests that would pass on one run and fail the next if ran repeatedly. Probably unrelated, but [here](https://github.com/ros-industrial/noether/issues/47) is the issue

[2020-09-09 11:17] shubhamwagh opened #104 "Build errors on Ubuntu 18.04 + ROS Melodic"
I am currently trying to install this package. I did follow the instructions starting with VTK and PCL installations.

After `catkin build` in my workspace which contains `src/noether` package, my build fails.
[code]

May I know what went wrong? Thanks.

[2020-09-09 11:37] shubhamwagh commented on #104
It will better to add extra steps for installation for people who are not aware about rosinstall file dependencies.

1) Initialize workspace using given rosintsall file
`wstool init src ./src/noether/dependencies_ros1.rosinstall`

2) if `lcov` is not installed: `sudo apt-get install lcov`
3) `catkin build`

[2020-09-09 12:49] gavanderhoorn commented on #104
I've re-opened this, as the readme does indeed not list the steps which would populate the workspace.

[2020-09-09 13:05] Levi-Armstrong commented on #104
@gavanderhoorn The procedure in the previous comment is what I would expect someone to do when pulling a repo they have never used; should we add the wstool procedure to the readme?

[2020-09-09 13:30] gavanderhoorn commented on #104
Yes, I agree with this, and in general I would say if someone has some experience in populating workspaces with ROS packages they should have some understanding of all this.

However, there are a sufficient nr of users for which these kinds of readmes are their first "foray" into building packages from source, so if we want to be kind to users we should probably include a short section with the `w

[2020-09-09 13:32] Levi-Armstrong commented on #104
Sounds good to me.

[2020-09-09 13:37] Levi-Armstrong commented on #104
Should we be transitioning to [vcstool](http://wiki.ros.org/vcstool)?

[2020-09-09 13:39] gavanderhoorn commented on #104
You could.

There's no immediate actual *need* though I believe.

As you can see, the set of commands would be relatively similar.

[2020-09-09 13:44] Levi-Armstrong commented on #104
Update the readme build section with the following?

## Build
- Create a catkin workspace and clone this repository in the `src` directory
- Navigate to workspace directory
- Import dependencies
  - `vcstool import src < src/noether/dependencies_ros1.rosinstall`
  - `vcstool pull src`
- Build the noether packages
[code]

  _Note: You can just run `catkin build` in order to build everything in your

[2020-09-09 13:48] gavanderhoorn commented on #104
Yes, that seems like a nice overview.

A bit more terse:

[code]

[2020-09-09 13:58] Levi-Armstrong commented on #104
good to know. The reason I asked about vcstool is I noticed that wstool repo has been archived.

[2020-09-09 14:02] Levi-Armstrong commented on #104
Should we add the clone repository step?

[code]

[2020-09-09 14:19] shubhamwagh opened #105 "Any documentation about tool path planner and other packages?"
Hi, thanks for this repository. May I know if there is any documentation about the tool path planner?

[2020-09-09 15:28] shubhamwagh commented on #105
How to correctly set interescting_plane_height?

[2020-09-10 17:23] shubhamwagh opened #107 "Simple node for surface raster planner for RViz visualization (similar to edgepaths)"
I tried to create my own node for toolpath_finder (similar to halfedge_finder) which uses surface_raster_planner_server to request planners for a mesh. I am getting different results with this  as compared to running using

`roslaunch noether_examples surf_raster_planner_demo.launch`.

![Screenshot from 2020-09-10 18-35-58](https://user-images.githubusercontent.com/22571244/92773464-8cbb0e80-f394-

[2020-09-10 17:54] shubhamwagh commented on #107
I think I had made a simple mistake. Fixed it. Now I get the same results. I had set `generate_extra_rasters` to `true`. It is `false` by default.

[2020-09-10 17:54] #107 closed

[2020-09-11 13:11] Levi-Armstrong commented on #105
Ping @jrgnicho and @DavidMerzJr

[2020-09-15 16:52] shubhamwagh opened #108 "Mesh Filtering process died on launching."
Hi,

On launching mesh_filtering launch file : `roslaunch noether_examples mesh_filtering_demo.launch`

It says the process has died! May I know what is going wrong?

[code]

[2020-09-17 18:13] jrgnicho commented on #108
Can you run the command below from the workspace and report the output?
[code]

[2020-09-17 19:12] jrgnicho commented on #105
@shubhamwagh at the moment there isn't in-depth documentation, the best way to familiarize yourself is by inspecting the demos in noether_examples

[2020-09-18 08:29] shubhamwagh commented on #108
@jrgnicho here is the output for the given command:
[code]

[2020-09-18 19:21] jrgnicho commented on #108
I haven't been able to reproduce your error
I'd suggest a couple of things
- Run ldd and see if it's linked multiple versions of pcl
[code]
If only one version shows, most like pcl 1.9.1, then that means it's only linked one version of the pcl library which is a good sign

At this point I would build the noether_filtering package in "Release with debug info" or in "debug" and
then attach a [gdb pr

[2020-09-21 14:50] shubhamwagh commented on #108
Hi,

Here is the output to `ldd devel/lib/noether/mesh_filter_server | grep pcl`

[code]

which looks fine to me.

[2020-09-21 14:52] shubhamwagh opened #109 "Surface raster planner server died."
Hi, previously I was not getting this error of server raster planner died. But now I am getting this error of

[code]

May I know what is wrong?

Just to give context:
I have created a node called toolpath_finder_node.cpp.  I am running this node and surface_raster_planner_server node using launch file to get paths and RViz visualization.

### toolpath_finder_node.cpp
[code]

[2020-09-21 15:31] jrgnicho commented on #108
Yes, it looks ok.  I would run gdb as described in my earlier comment

[2020-09-21 19:24] Beshario commented on #94
I have the same issue, I will pass my command line messages
Do you mind sharing how you solved it?:
[code]

[2020-09-22 16:54] shubhamwagh commented on #109
I just rebuilt it in RELWITHDEBINFO
`catkin build -DCMAKE_BUILD_TYPE=RELWITHDEBINFO` and then it worked fine.

[2020-09-22 16:54] #109 closed

[2020-09-22 17:03] shubhamwagh opened #110 "How to get raster paths wrt global axis?"
May I know how can I get raster paths with respect to the global axis? The parameter in tool.yaml is not used (else statement is empty).
Could you outline the steps needed to get the raster paths in global frame?

[2020-09-23 17:15] Beshario commented on #108
running
``` cat /home/qbot/.ros/log/800b43bc-f759-11ea-8898-049226d2aab3/mesh_filter_server-3.log ```

can shed some light on what is happening.

[2020-09-23 17:18] Beshario commented on #94
I am guessing this may not be a problem, moving forward

[2020-09-24 09:29] shubhamwagh commented on #108
Hi @jrgnicho I rebuilt it with `RELWITHDEBINFO`, I still get the same error. Kindly find the attached gdb debugger output.

[code]

Also @Beshario, I tried doing that earlier, but for some reason, it says the file is not present. So for the above output, I tried the following command line:

`cat  /home/qbot/.ros/log/ce96818c-fe47-11ea-85e1-049226d2aab3/mesh_filter_server-4.log`

[2020-09-28 15:09] jrgnicho commented on #108
@shubhamwagh could you run a backtrace when the node crashes.  You should be able to do that with the `bt` command

[2020-09-30 15:33] jrgnicho commented on #110
The raster waypoints will be generated in the frame of the mesh model.  You can set the raster_angle to a non-zero value to apply a rotation relative to the z vector of the mesh model.  If you need to get the rasters relative to another frame  then you'd have to manually apply the desired transform to each waypoint as a post processing step.

[2020-10-12 21:24] Levi-Armstrong commented on #108
@shubhamwagh Were you able to resolve the issue?

[2020-10-12 21:26] Levi-Armstrong commented on #4
This has been addressed.

[2020-10-12 21:26] #4 closed

[2020-10-12 21:28] Levi-Armstrong commented on #43
This has been added to the rosinstall.

[2020-10-12 21:28] #43 closed

[2020-10-12 21:29] #86 closed

[2020-10-14 09:52] shubhamwagh commented on #108
Sorry, I am no more using this library. Instead created my own custom toolpath generation software from point clouds to meet our use case. Thanks for the help anyways.

[2020-10-14 16:03] Levi-Armstrong commented on #108
Is your point cloud method for generating tool paths open sourced?

[2020-11-17 10:13] #96 closed

[2020-11-17 19:53] Levi-Armstrong commented on #96
There are some segmentation tools and I believe there is a tool for drawing on a mesh and extracting that section then we send it to noether. @jrgnicho and @marrts Is the draw tool currently available?

[2020-11-17 20:06] drchrislewis commented on #96
@madhan001 the swri-robotics toolpath_offline_planner has the tools you need. It is being rapidly revised. However as it is should work. One should first segment the part, then select a region, then generate your paths. One of the PR's uses the latest noether interface. The others need to use a tagged version. Don't bother with the heat method at this point it is finicky but works extremely well o

[2020-11-18 06:52] madhan001 commented on #96
Thanks for the recommendation, I'll look into it

[2020-12-10 22:16] marip8 opened #117 "Purge non-essential branches"
There are a number of non-essential branches on this repository (patches, unfinished refactors/features, etc.). I find this to be relatively confusing when trying to understand the state of this repository since most of them (if not all but master) contain stale garbage. IMO, development needs to happen on forks rather than branches of the main repository. @jrgnicho and @Levi-Armstrong can you rem

[2020-12-11 20:29] marip8 commented on #110
@shubhamwagh #121 should solve this issue (at least with the surface walk tool path planner). If you provide the `cut_direction` parameter as the vector (in mesh -- i.e. global -- coordinates) that represents the desired raster line direction, it should generate the raster path appropriately

[2020-12-22 18:13] marip8 opened #124 "Standardize raster path pose direction"
As of f250219254b99998aed179b3987bd413073fab07, the surface walk planner and plane slice planner generate the waypoint poses with different orientations for each segment. This becomes an issue in motion planning if you want to be able to switch from one tool path planner to the other because their outputs are not consistent.

## Plane slice
Waypoint orientation changes by 180 degrees about the sur

[2021-01-15 12:14] bierm4nn opened #125 "probem with noether examples"
Shalom,

after fixing some naming mistakes mentioned [here ](https://github.com/ros-industrial/noether/pull/112#issuecomment-760181615) I tried to execute the following launch files:
eigen_value_edge_generator_demo.launch
halfedge_edge_generator_demo.launch
plane_slicer_rastering_generator_demo.launch

For all I get a similar output using the example mesh from noether:

[code]

I am using Ubuntu 2

[2021-01-30 17:12] bierm4nn commented on #125
Applying the changes from pull request [26](https://github.com/ros-industrial/noether/pull/126) from steviedale fixed the issue.

The warning is still present tough:
`Warning: tool_path_planner::PlaneSlicerRasterGenerator generating normal data
         at line 412 in ***/src/noether/tool_path_planner/src/plane_slicer_raster_generator.cpp`

[2021-02-16 17:23] acbuynak opened #127 "Workspace Build Error with cmake_common_scripts"
Relatively new user here working in Melodic. I'm trying to build Noether and running into some build errors.
I've noted Issue/PR # 93 # 98

I'd any appreciate any guidance others have. Still learning. Thanks!

_VTK_viewer call for Cmake_Common_Scripts_
Normally if I'd see this error, I would look for a cmakelist file or similar.
[code]

_PCL Build_
The only exception I made when following the buil

[2021-02-16 20:39] marip8 commented on #127
The name of `cmake_common_scripts` was recently changed (to `ros_industrial_cmake_boilerplate`), so that is likely your issue. The easiest short-term solution would be to check out [tag 0.2.5](https://github.com/ros-industrial/ros_industrial_cmake_boilerplate/tree/0.2.5) (the last state at which the package used to be called `cmake_common_scripts`) and try building again.

The CI builds are also f

[2021-02-16 20:45] marip8 commented on #127
I'm not sure if this flag shows up if you use the CMake GUI, but it definitely exists and is probably worth turning on. You can do this when running `cmake`:
[code]
You can also `grep` the `CMakeCache.txt` that gets generated by this process to check what the value of that argument is to make sure it was set correctly before you call `make`

This is an argument for `noether_filtering` and you can

[2021-02-16 23:31] acbuynak commented on #127
Awesome. Thanks for the breakdown in such clarity. This was helpful.

I successfully built the package in my workspace.
Additionally, I was able to rebuild `pcl-1.9.1` with both parameters set as confirmed by `CMakeCache.txt`

I'm better understanding how make/cmake/ccmake function together to build source code.

[2021-02-23 05:18] #127 closed

[2021-02-23 05:20] acbuynak commented on #127
Note:  The updated name reference is part of a PR here: https://github.com/ros-industrial/noether/pull/126

[2021-03-26 20:43] jdlangs opened #130 "Making a ROS-agnostic repo?"
I'm sure there's been some internal discussion on these lines but rather than ping you all privately I thought why not open a thread for public discussion. What is everyone's thoughts on turning this into pure CMake packages for use in ROS1 and ROS2 systems? What would the roadmap for that effort look like and what concrete work would need to be done?

@Levi-Armstrong @jrgnicho @marip8 @mpowelson

[2021-03-27 03:34] Levi-Armstrong commented on #130
I am onboard with this. We have already converted some the packages to be ROS-agnostic.

[2021-04-15 08:23] #125 closed

[2021-04-16 20:10] colin-lewis-19 commented on #130
The initial steps towards this would be porting the core functionality.
vtk_viewer & noether_filtering are both ROS independent. The other packages that we will need to remove ROS dependencies from will be tool_path_planner, path_sequence_planner, and mesh_segmenter.
Pending further discussions, the ros dependent packages noether, noether_examples, noether_msgs, and noether_conversions may be blac

[2021-04-19 20:02] colin-lewis-19 commented on #130
To remove the ros dependency in tool_path_planner, the input types of meshes will need to change from shape_msgs::mesh. This input type is currently being cast to a PCL polygon mesh immediately, so expecting a PCL type should not be a significant change within the library.

[2021-04-20 01:13] Levi-Armstrong commented on #130
Since it already has a dependency on PCL, I see no issues with switching to PCL type versus a message type.

[2021-05-02 01:21] colin-lewis-19 commented on #130
While we had internally agreed to remove ROS functions from noether_conversions, I realized that all but 1 function contained within are ROS interfaces. The 1 exception is only used in tool_path_planner, so I have moved it into tool_path_planner utilities file. With noether_conversions being ROS dependent, I am moving the to<path_planner> methods there, since they are converting.

[2021-05-05 09:15] shubhamwagh commented on #108
@Levi-Armstrong, apologies for late reply. It is not open sourced as it is part of company project and in development stage.

[2021-05-18 15:47] jdlangs opened #134 "Need for noether_conversions"
Since we're doing some bigger thinking about the future of this repository, I thought I'd propose merging `noether_conversions` into `noether`. It's only a single header and source file that contain a handful of utility functions and I'm not sure there's too many use cases where someone only wants that functionality and nothing else.

Pros: simplified repo structure, faster build time
Cons: API br

[2021-06-02 00:19] DechaoZeng commented on #36
Any update on this problem? I am working on installing PCL libraries as well. Appreciate all!

[2021-06-02 07:27] gavanderhoorn commented on #36
@DechaoZeng: what sort of update are you looking for?

The issue the OP encountered was solved in #38. It also wasn't a problem with install PCL, but a missing header.

[2021-06-02 15:56] marip8 commented on #134
I that's fine by me. Per some of our previous discussions, I believe we wanted to consolidate the ROS-related code anyway.

[2021-06-02 15:58] marip8 commented on #104
Closing; addressed by #106

[2021-06-02 15:58] #104 closed

[2021-06-02 20:37] jrgnicho commented on #134
At the moment there isn't much in the noether_conversion package but there currently are various conversion utility functions scattered through the entire repo and so I would envision that a future version of noether would consolidate most of these into the noether_conversion package.  Because of that I'd prefer to keep it as a separate package which would eventually grow to contains more stuff

[2021-06-02 21:01] Levi-Armstrong commented on #134
I am in favor of merging noether_conversions into the Noether package seeing as it includes the ROS interfaces for the various noether libraries. I see no value in keeping it as a separate package since it primarily used by the Noether package for converting between types. It can be as a separate library within the noether package.

[2021-06-03 09:42] JTray123 opened #137 "General question - Program a robot using CAD model to move accurately around a part"
Hi guys,

It was mentioned on the ROS forum that this framework might be a good starting place for a project I am working on.

Basically I I need to program a robot tool path to move accurately around the full CAD part so I can scan the part in full,  not just the edges, with a sensor mounted to the robot. It looks like noether does this

Ideally I would like to

- Import a CAD program (any of the

[2021-06-04 14:48] marip8 commented on #137
I'm glad you're interested in using this repository. Some thoughts about your requirements:

There is technically a difference between CAD models and surface meshes. CAD models (like .step, .igs, .x_t, etc.) are mathematical, parametric representations of geometry. Surface meshes (like .stl, .ply., .obj, etc.) essentially only contain vertex and triangle information. This repository currently only

[2021-06-04 14:48] #137 closed

[2021-06-04 15:01] gavanderhoorn commented on #137
the repository has a [Discussions](https://github.com/ros-industrial/noether/discussions) tab.

To allow others to also learn from the questions posted by @JTray123 and the answers by @marip8 et al., it would be great if we could keep Q&A on the discussions forum.

[2021-06-04 15:41] marip8 commented on #137
Forgot about the discussions page. I'll migrate this conversation there

[2021-06-22 23:33] marip8 opened #139 "Improve Unit Tests"
## Problems
- No real expectations on the results of the tool path planner in any test, just that a valid optional data type is returned
- Surface walk planner does not produce expected results (see #34)
  - ![utest_1_surface_walk_bad](https://user-images.githubusercontent.com/18411310/123012170-698fa780-d387-11eb-87de-5e15c47dbb31.png)
  - ![utest_2_surface_walk_bad](https://user-images.githubuse

[2021-07-07 13:58] aa-tom opened #140 "Unable to run examples"
Hi,

I'm trying to run the examples provided with the launch but am getting an error which _I think_ is due to missing VTK files. I compiled and installed both VTK and PCL using the guide provided in the readme so I expect all of the right files should exist. Any ideas on what might be causing the issue?

[code]

Any help is much appreciated!

[2021-07-07 14:02] aa-tom commented on #140
Resolved. I just needed to run ldconfig to make the shared libs available :smiley:

[2021-07-07 14:07] marip8 commented on #140
Glad to hear you figured it out. For reference, if you're on Ubuntu 20.04 you can use the distributed debian versions of PCL and VTK rather than building them from source. For Ubuntu 18.04 you can also install VTK7 via debian and PCL 1.9 from [this PPA](https://launchpad.net/~felix928/+archive/ubuntu/pcl-1.9). This will save you some time and hassle in the future.

[2021-07-07 14:07] #140 closed

[2021-07-07 14:28] aa-tom opened #141 "Using noether to generate full surface paths"
Hi,

I'm looking into generating paths over the face of an entire surface of a mesh, and it seems like noether might be a perfect fit for doing that. I think the process would look something like:

1. Subset of the mesh is selected (would it be possible to pass a mesh to noether via a ROS topic rather than through a file?)
2. Selected sub-mesh is converted to a BSpline representation (already poss

[2021-07-07 14:33] aa-tom commented on #140
Ah, that's excellent to hear. Hoping to install into a Docker image eventually so that'll save a lot of build time :+1:

[2021-07-07 14:44] aa-tom commented on #141
It seems like the place slice rastering demo might be what I'm looking for, but I'm unsure how to view the output in rviz

[2021-07-07 16:55] marip8 commented on #140
We also have [a docker image with the noether dependencies installed](https://hub.docker.com/r/rosindustrial/noether) that we use to run CI. You might take a look at that as well

[2021-07-08 10:49] aa-tom commented on #141
Upon closer inspection, I think it may be the surface walk path planner that I want. I've written some code to run a demo based on the plane slice demo's files, but I'm getting an error. I'm not entirely sure what all of the parameters do, so I'd much appreciate any help!

[code]

[code]
[code]

[2021-07-08 10:54] aa-tom commented on #141
Playing around with the intersection plane height value fixed the issue. I'm guessing the edges are defined by the intersection of the mesh with plane, and having the height set to 0.0 caused the plane to miss the mesh completely?

[2021-07-08 15:05] marip8 commented on #141
You can use the tool path planning server which hosts a service for generating a tool path

The b-spline mesh filter doesn't convert a mesh to a b-spline representation (like in a CAD model), it just uses b-splines to approximate the surface and creates a new triangle mesh from that approximation

The raster planners (surface walk and plane slice) have this behavior

No, the half-edge planner (and

[2021-07-08 15:06] marip8 commented on #141
The tool path should be published as a `geometry_msgs::PoseArray` message, so you can add a `PoseArray` display in Rviz to see the tool path

[2021-07-08 15:07] marip8 commented on #141
I'm going to move this to the Discussions page since it's more of a high-level usage question and less of a specific issue. Feel free to continue posting from there

[2021-07-08 15:07] #141 closed

[2021-07-08 15:55] aa-tom opened #144 "Error when trying to install PCL1.9 from PPA"
Hi,

I'm trying to install the the PCL archive from this [PPA](https://launchpad.net/~felix928/+archive/ubuntu/pcl-1.9), but I'm getting the following error:

[code]

Any help would be much appreciated

[2021-07-09 07:59] aa-tom commented on #144
I think it's because I'm using focal and the PPA only supports bionic. I suppose I'll have to build from source instead?

[2021-07-09 14:09] marip8 commented on #144
That might be the case. If you're on Focal, the distributed version of `libpcl-dev` (1.10) works fine with this repository. No need to build or install PCL 1.9 specifically.

I'm going to close this issue since it's related to the PPA and not to this repository specifically. Feel free to continue the discussion though

[2021-07-09 14:09] #144 closed

[2021-07-16 10:44] aa-tom opened #145 "CMake error: could not find ros_industrial_cmake_boilerplate-config.cmake"
Hello,

When trying to build noether, I'm getting the following error message with the noether_filtering package. I've installed `vtk7` and `libpcl-dev` through `apt-get` before running the build.

[code]

Any advice would be much appreciated!

[2021-07-16 10:51] aa-tom commented on #145
Ah, so the issue was being caused by the vcs command in my build script not pulling the dependencies in. I'm now getting the same error with noether_msgs and pcl_msgs

[code]

[2021-07-16 11:42] aa-tom commented on #145
I've checked against a workspace where noether is compiling correctly (one where I build PCL from source). The difference seems to be that there's no pcl_msgs package at /opt/ros/noetic/share when installing from `libpcl-dev`. I'm wondering if there are additional steps that need to be taken to make the library available?

[2021-07-16 11:50] aa-tom commented on #145
Just checked the Dockerfile for noether, and I don't see any extra steps I'm missing :confused:

[code]

[2021-07-16 12:26] aa-tom commented on #145
I believe a workaround may be manually installing the `ros-noetic-pcl-msgs` package through `apt-get`

[2021-07-16 14:47] marip8 commented on #145
Correct. This is actually the nominal method of installing that package, not necessarily a work-around. The `ros_industrial_cmake_boilerplate` package is also distributed on the ROS build farm and can be installed via `apt`:

[code]

Just FYI in case you weren't aware, many ROS-based repositories (including this one) track their build-from-source dependences in a `.rosinstall` file in the reposito

[2021-07-16 17:38] Levi-Armstrong opened #146 "Need to add colcon.pkg file to all pure cmake packages."
For colcon to find cmake package in underlays and plugins this file needs to be added to each cmake package. Update the contents below with the package name and since we are using ros_industrial_cmake_boilerplate it will handle the rest.

file name: colcon.pkg
[code]

[2021-07-16 19:34] jdlangs commented on #146
This will be addressed in #133

[2021-07-21 13:37] #145 closed

[2021-07-25 11:52] aa-tom opened #148 "Warnings appearing as errors when compiling noether"
Hi,

I'm attempting to compile noether without having to build VTK or PCL from source. I've downloaded the `libpcl-dev` and `vtk7` packages through `apt-get`, however I'm getting the following errors when building the `vtk_viewer` package:

[code]

Any ideas & suggestions would be much appreciated!

[2021-07-26 01:16] Levi-Armstrong commented on #148
It is running clang tidy, but that should only run if NOETHER_ENABLE_TESTING is set to on. Though it does not look like you are setting it, but I do not see where it is being initialize to off. When building pass --cmake-args -DNOETHER_ENABLE_TESTING=OFF and see if it goes away. I also recommend doing a clean build.

[2021-07-26 07:39] aa-tom commented on #148
Ah okay, I'll try with that variable set then. Should those be fixed in noether then if the code isn't passing the clang check, or are they not a concern?

[2021-07-26 07:59] aa-tom commented on #148
Success! Thanks for the help. Will leave this open in case the warnings need to be fixed

[2021-07-26 13:27] Levi-Armstrong commented on #148
They should be fixed, but depending on the error/warning it may not be an issue.

[2021-07-26 13:30] Levi-Armstrong commented on #148
There are a few open PR's where we are restructuring and cleaning up the repo, so it may be getting addressed in one of those but this should remain open until those are merged and tested.

[2021-07-28 09:53] aa-tom opened #149 "Issues generating paths for a subset of mesh faces"
Hi,

I'm currently trying to use noether to generate paths over a subset of faces on a mesh. The faces are chosen through a tool I've developed in rviz, which then extracts those faces from the Mesh (represented as a vtkPolyData object) and converts them into a shape_msgs/Mesh message. this mesh selection is eventually passed to noether's plane slicer and edge path planners. This is the code I'm u

[2021-07-28 10:30] aa-tom opened #150 "Unable to generate half edge for simple example"
Hi,

I'm trying to run the halfedge demo over a custom half-sphere mesh. Below is the output I'm receiving:

[code]

The mesh in question can be found here: https://filebin.net/tkj0q0tni9oc0gpt

I'd much appreciate any help!

[2021-07-28 13:40] marip8 commented on #149
At face value, it seems like the vertex indices of your triangles may not be correct. Those indices need to correspond to the index of the vertex in `mesh.vertices` not to the ID that VTK decided to assign the vertex

If that isn't the case, you'll need to provide more details about the crash you encountered; there's not much we can say about the root cause with the information in the post. I woul

[2021-07-28 13:52] marip8 commented on #150
at line 579 in /home/rob/catkin_ws/src/noether/tool_path_planner/src/halfedge_edge_generator.cpp

Can you verify that your mesh doesn't have duplicate vertices as the error suggests?

[2021-07-28 14:08] marip8 commented on #149
What is the value of the [`search_radius` parameter](https://github.com/ros-industrial/noether/blob/c1719c1c009023b0bd68cf6158db02ae984871ff/tool_path_planner/include/tool_path_planner/plane_slicer_raster_generator.h#L56) that you're using? The default value is 0.01 m which is much smaller than 10 and 1 "units". For reference, mesh units are always interpreted in meters in this repository because

[2021-07-28 14:31] aa-tom commented on #149
Hey and thanks for the response. Search radius was set to 2 for the plane slice planner. Does the half edge generator also use one?

I've exported and uploaded the selection here too: https://filebin.net/cq69pc3dyuueyzcw

[2021-07-28 15:13] aa-tom commented on #149
Will check the mesh for duplicate vertices. Don't think there should be any. This is the updated code generating the mesh message:

[2021-07-28 15:34] aa-tom commented on #150
Hey,

Can confirm that there are no duplicate vertices or faces

[code]

I used the following code to generate the mesh message / check for duplicates, where `faces` was, in this case, the list of all faces

[code]

I'm also getting the same error when the list of faces passed is a subset (see #149) therefore I think the issues are one and the same

[2021-07-28 15:39] aa-tom commented on #149
As in the above issue, I've verified that the selection does not contain duplicate vertices or faces using the following code

[code]

[code]

[2021-07-28 17:33] marip8 commented on #150
Comparing floats for equality is generally not a good idea because the last few decimal places of two floats that should be the same are usually slightly different. Instead you should check that the difference between the two floating point numbers is less than the [machine epsilon](https://en.wikipedia.org/wiki/Machine_epsilon):

[code]

Give this change a try and share the result. I'm not sure y

[2021-07-28 21:11] DavidMerzJr commented on #150
@marip8 asked me to take a look at this issue.  I'll inspect the mesh to see if I can determine a direct answer to your problem.  However, your code to check for duplicate faces is not *quite* correct, at least in terms of a half-edge mesh.  In a half-edge mesh, an edge is a half-edge if there is only one triangle that connects two points.  i.e. points A and B may each individually be part of seve

[2021-07-29 07:57] aa-tom commented on #150
Thanks both. I'll make the changes to the duplicate checking code and let you know the results.

[2021-07-29 08:12] aa-tom commented on #150
Same results after making the above changes to the code
[code]
[code]

@marip8 I still think #149 may be the same issue as, although the output warns about the normals, it still manages to generate the surface paths fine. It's when running the edge path generator afterwards (as that code uses both planners in sequence) that the code fails.

[2021-08-03 08:12] aa-tom commented on #150
@marip8 @DavidMerzJr

Hey both. Any progress with this? As a workaround I'm planning to implement a custom edge finder using straight lines between the ends of a plane slicer output, which should work fine for our use case. It'd be nice to have something more robust working though!

[2021-08-13 15:47] aa-tom commented on #150
@marip8 @DavidMerzJr
Sorry to be a pain, but is still being looked into?

[2021-11-20 07:03] TJBetter opened #156 "Question: raster path demo generated succesfully but the path is not visable"
Hello,

First of all, thank you for making this great repo and it looks really nice. Thank you in advance for taking the time to answer my question. My major is in control so these kind of programming is kind of too much for me.

I'm running ubuntu 18.04 with ROS melodic. I'm able to sucessfully complie and run the test case. However, when I run the following commmand:
`roslaunch noether_examples

[2022-01-05 08:03] gzaidner opened #157 "Question: Ignoring inner surface"
Hello,
I converted my .stl to .ply and run the "plane_slicer_rastering_generator_demo.launch".
It finds the paths but also on the inner side of the object.
Is there an option to select only the top object paths?
I dont want the robot to reach those points.

thank yo
![Screenshot from 2021-12-28 15-29-14](https://user-images.githubusercontent.com/6764435/148181856-e6e11979-a216-4f15-ab1a-45690e2696

[2022-01-05 15:22] marip8 commented on #157
Currently the plane-slice style tool path planners (plane-slice and surface-walk) intersect planes of a specifiable height with the mesh to generate the raster lines. If the plane cuts through multiple mesh layers, it will create multiple raster lines (as you experienced), and there is no method currently for choosing which to keep.

Your best option is going to be removing the inner surface from

[2022-06-08 15:25] FieldOfSnow opened #165 "Noether for ROS2?"
Is there at present any noether packages available for ROS2? These all appear to be for only ROS.

[2022-06-09 14:28] marip8 commented on #165
The current design plan is to migrate the core capabilities to the ROS-independent packages `noether_filtering` and `noether_tpp`. When that's complete we plan to revise the ROS1/ROS2 interfaces to be a light wrapper on `noether_tpp`. This process is currently on-going, but we do currently have one planner ported on a [fork here](https://github.com/marip8/noether/tree/devel). We're looking to get

[2022-11-16 16:42] #156 closed